---
---

$section_prefix: ""

h1:before
	counter-reset: h2_counter

h2:before
	counter-increment: h2_counter
	counter-reset: h3_counter
	$section_prefix: $section_prefix counter(h2_counter) "."
	content: $section_prefix " "

h3:before
	counter-increment: h3_counter
	counter-reset: h4_counter
	$section_prefix: $section_prefix counter(h3_counter) "."
	content: $section_prefix " "

h4:before
	counter-increment: h4_counter
	counter-reset: h5_counter
	$section_prefix: $section_prefix counter(h4_counter) "."
	content: $section_prefix " "

h5:before
	counter-increment: h5_counter
	counter-reset: h6_counter
	$section_prefix: $section_prefix counter(h5_counter) "."
	content: $section_prefix " "

h6:before
	counter-increment: h6_counter
	$section_prefix: $section_prefix counter(h6_counter) "."
	content: $section_prefix " "

ol:not(.simple), ol:not(.toc)
	list-style-type: none
	counter-reset: ol_counter

ol:not(.simple) > li:before
	counter-increment: ol_counter
	content: counters(ol_counter, "-") " "

ol .toc > li:before
	counter-increment: ol_counter
	content: counters(ol_counter, ".") " "
